<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="/libs/ionic/css/ionic.min.css">
    <script src="/libs/ionic/js/ionic.bundle.min.js"></script>
    <script src="./app/app.module.js"></script>
    <script src="./app/controllers/app.ctrl.js"></script>
</head>

<body ng-controller="MyCtrl as ctrl">

    <div class="bar bar-header bar-positive">
        <h1 class="title">NYT bestsellers</h1>
    </div>

    <ion-content padding="true" style="margin-top:40px;">
        <ion-refresher pulling-text="pull to refresh" refreshing-text="Retrieving best-sellers" on-refresh="ctrl.reload()"></ion-refresher>
        <ion-toggle ng-model="ctrl.shouldShowDelete">
            Show Delete?
        </ion-toggle>
        <ion-list show-delete="ctrl.shouldShowDelete" show-reorder="ctrl.shouldShowReorder" can-swipe="ctrl.listCanSwipe">
            <ion-item ng-repeat="item in ctrl.items" class="item-thumbnail-left">
                <img src="img/default.png">
                <h2>{{item.title}}}</h2>
                <h3>{{item.author}}</h3>
                <p>{{item.description}}</p>

                <ion-option-button class="button-positive" ng-click="ctrl.share(item)">
                    Share
                </ion-option-button>
                <ion-option-button class="button-info" ng-click="ctrl.edit(item)">
                    Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="ctrl.items.splice($index, 1)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="ctrl.reorderItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>

        </ion-list>
    </ion-content>

    <div class="bar bar-footer bar-balanced">
        <div class="title">Footer</div>
    </div>

</body>

</html>